/* Let .main stretch to fill the viewport if total page height is too low. */
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
body > * {
	flex-shrink: 0;
}
.main {
	flex-grow: 1;
}
/* Stolen from <https://stackoverflow.com/a/23986464> */

.mono {
	font-family: monospace;
}

.hero {
	background: linear-gradient(to bottom, transparent 25%, var(--background-color) 85%), url("../img/20220517-sunset.jpg");
	background-position: 30% 25%;
	background-size: cover;
	padding: 10rem 0 1rem;
}

.hero h1 {
	margin: 0;
}

.main {
	padding: 2rem 0;
}

.foot {
	background: linear-gradient(to top, var(--muted-border-color) 0.5rem, transparent 1rem);
	border-top: var(--border-width) solid var(--muted-border-color);
	padding: 0.5rem 0 1rem;
}

.foot h6 {
	margin: 0;
}

address {
	font-size: 80%;
}
